@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  position: relative;
  background-image: url(../../images/movie.png);

  background-position: center;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container h1 {
  color: white;
  position: absolute;
  font-family: Lato;
  font-size: 60px;
  letter-spacing: 4px;
  text-align: left;
  margin-left: 3rem;
  margin-top: 5rem;
}

.getstarted {
  position: absolute;
  top: 20%;
  bottom: 80%;
  font-family: Lato;
  padding-top: 1%;
  font-size: 34px;
  text-align: left;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 50px;
  margin-left: 3rem;
  margin-top: 7rem;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid white;
  color: white;
  cursor: pointer;
  transition: color 250ms;
}
.getstarted:hover {
  color: #383838;
}

.about h1 {
  font-family: lato;
  color: #749e86;
  font-size: 45px;
  text-align: center;
}

.about p {
  font-family: lato;
  color: black;
  font-size: 40px;
  text-align: left;
  margin-left: 6rem;
  margin-right: 6rem;
}

.line-top {
  border-bottom: 1px solid black;
  display: block;
  margin-bottom: 5rem;
}

.line-bottom {
  border-bottom: 1px solid black;
  display: block;
  padding-top: 5rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5%;
  margin-left: 10%;
}

.img {
  max-width: 100%;
  padding-right: 5px;
}

.movie {
  background-color: 0, 0, 0, 0.2;
  margin: 1rem;
  width: 250px;
  border-radius: 3px;
  box-shadow: 3 px 3 px 5 px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.releasedate {
  font-size: 16px;
}

.movie-info {
  font-family: lato;
  margin: 1rem;
  text-align: center;
}

.movie-info h3 {
  font-size: 20px;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
}

@media all and (max-width: 500px) {
  .about p {
    font-size: 24px;
  }
  .container h1 {
    color: white;
    position: absolute;
    font-family: Lato;
    font-size: 40px;
    letter-spacing: 4px;
    text-align: left;
    margin-left: 0.5rem;
    margin-right: auto;
    margin-top: 2rem;
  }
  .getstarted {
    position: absolute;
    top: 10%;
    bottom: 90%;
    font-family: Lato;
    padding-top: 1%;
    font-size: 25px;
    text-align: left;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 40px;
    margin-left: 3rem;
    margin-top: 7rem;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    transition: color 250ms;
  }
}
