@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Quicksand&display=swap");

.searchlist h2 {
  font-family: lato;
  font-size: 40px;
  color: #749e86;
  padding-left: 1em;
}

.list-image {
  border-radius: 10px;
}

.releasedate {
  font-size: 16px;
}

.movie-info {
  margin: 1rem;
  text-align: center;
  font-family: lato;
}

.movie-info h3 {
  font-size: 20px;
}

.addbtn {
  background-color: none;
  border-radius: 10px;
  border: 1px solid;
  border-color: #749e86;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  cursor: pointer;
  transition: color 250ms;
}

.addbtn:active {
  background-color: #749e86;
}

.addbtn:focus {
  background-color: #749e86;
}
