@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.form {
  display: grid;
}

.input {
  font-size: 20px;
  width: 40%;
  font-family: lato;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 6px;
  border: 1px solid black;
}

.searchBox {
  padding-left: 5px;
  padding-right: 5px;
  align-content: center;
}

.searchbtn {
  border-radius: 15px;
  font-family: lato;
}
