@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.nav {
  display: flex;
  justify-content: space-between;
  font-family: "lato";
}

.nav_logo {
  flex: 1;
  top: 5px;
  align-items: left;
  width: 120px;
  object-fit: contain;
  margin-left: -5px;
}

.authLinks {
  padding: 20px;
}

.nav_register {
  padding-right: 10px;
  padding-left: 5px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #383838;
}
