@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}

.nav_logo {
  flex: 1;
  top: 5px;
  align-items: left;
  width: 120px;
  object-fit: contain;
  margin-left: -5px;
}

.authLinks {
  padding: 30px;
  font-family: "lato", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.nav_register {
  padding-right: 10px;
  padding-left: 10px;
}

.nav_link {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: Lato;
  font-weight: lighter;
  font-size: 18px;
}

.mylist {
  padding-right: 10px;
}

.nav_login {
  padding-right: 10px;
}

.nav_logout {
  padding-right: 10px;
}

.findMovies {
  padding-right: 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #383838;
}

@media all and (max-width: 500px) {
  .nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
  }
  .nav_logo {
    flex: 1;
    top: 5px;
    align-items: left;
    width: 120px;
    object-fit: contain;
    margin-left: -15px;
  }
  .authLinks {
    font-family: "lato", sans-serif;
    font-weight: lighter;
    font-size: 12px;
    margin-left: -5rem;
  }
  .nav_link {
    padding: 30px 10px;
    font-family: Lato;
    font-weight: lighter;
    font-size: 14px;
  }
  .findMovies {
    padding-right: 10px;
  }
}
