@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  position: relative;
  background-image: url(../../../images/movie.png);
  background-position: center;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container h1 {
  color: white;
  position: absolute;
  font-family: Lato;
  font-size: 60px;
  letter-spacing: 4px;
  text-align: left;
  margin-left: 3rem;
  margin-top: 5rem;
}

.getstarted {
  position: absolute;
  top: 20%;
  bottom: 80%;
  font-family: Lato;
  padding-top: 1%;
  font-size: 34px;
  text-align: left;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 50px;
  margin-left: 3rem;
  margin-top: 7rem;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid white;
  color: white;
  cursor: pointer;
  transition: color 250ms;
}
.getstarted:hover {
  color: #749e86;
}

.about h1 {
  font-family: lato;
  color: #749e86;
  font-size: 45px;
  text-align: center;
}

.about p {
  font-family: lato;
  color: black;
  font-size: 40px;
  text-align: left;
  margin-left: 6rem;
  margin-right: 6rem;
}

.line-top {
  border-bottom: 1px solid black;
  display: block;
  margin-bottom: 5rem;
}

.line-bottom {
  border-bottom: 1px solid black;
  display: block;
  padding-top: 5rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5em 4px;
}

.movie {
  background-color: 0, 0, 0, 0.2;
  margin: 1rem;
  width: 250px;
  border-radius: 3px;
  overflow: hidden;
  padding: 10px 20px;
}

.movie-image {
  border-radius: 10px;
}

.movie-title {
  font-size: 16px;
}

.release_date {
  text-align: center;
  font-size: 15px;
}

.rating {
  text-align: center;
  font-size: 15px;
}

.addButton {
  background-color: #749e86;
  border-radius: 10px;
  border: 1px solid;
  border-color: #749e86;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  cursor: pointer;
  transition: color 250ms;
}

@media all and (max-width: 500px) {
  .about p {
    font-size: 24px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    position: relative;
    background-image: url(../../../images/movie.png);
    background-position: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .container h1 {
    color: white;
    position: absolute;
    font-family: Lato;
    font-size: 40px;
    letter-spacing: 4px;
    text-align: left;
    margin-right: auto;
    margin-top: 2rem;
  }
  .getstarted {
    position: absolute;
    top: 10%;
    bottom: 90%;
    font-family: Lato;
    padding-top: 1%;
    font-size: 25px;
    text-align: left;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 40px;
    margin-left: 3rem;
    margin-top: 7rem;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    transition: color 250ms;
  }
}
